<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5 fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="vehiculos">Edward RentCar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="vehiculos">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestiones
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="tipos-vehiculos">Tipos de vehiculos</a></li>
              <li><a class="dropdown-item" routerLink="marcas">Marcas</a></li>
              <li><a class="dropdown-item" routerLink="modelos">Modelos</a></li>
              <li><a class="dropdown-item" routerLink="combustibles">Tipos de Combustible</a></li>
              <li><a class="dropdown-item" routerLink="vehiculos">Vehiculos</a></li>
              <li><a class="dropdown-item" routerLink="clientes">Clientes</a></li>
              <li><a class="dropdown-item" routerLink="empleados">Empleados</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openReportModal()" style="cursor: pointer;">Reportes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>